/**this is css for about1**/
.foottrangchu p {
    text-align:right ;
    width: 48%;
    float: left;
    padding: 0 1px 0 0;
    margin: 7px 0 0 0;
    height: 20px;
}
/**icon**/
.foottrangchu nav {
    width: 50%;
    float: right;
}
.foottrangchu a {
    float: left;
    margin: 0 0 0 30px;
    display: block;
    width: 25px;
}
/**This is css for trangchu**/

header div {
    background-color: burlywood;
    padding: 0 0 3px 0;
}
header div h1 {
    color: rgb(0, 49, 92);
    font-size: 350%;
    text-align: center;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}
header div p {
    padding: 2px;
}

#menu {
    background-color: rgb(18, 67, 146);
}
#menu div a {
    color: aliceblue;
}
#menu-con li a {
    color:black;
}
.div-main {
    background-color: antiquewhite;
    padding: 12px;
    height: 600px
}
.nav1 {
    height: 30%;
    background-color: rgba(62, 156, 239, 0.381);
}
.nav1 img {
   width: 40%;
   height: 100%
}
.nav1 p {
    color: rgba(7, 7, 7, 0.895) ;
    text-align: justify;
    padding: 0 3% 0 3%;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    width: 60%;
    font-size: 90%;
}
.nav2 {
    margin-top: 3%;
    height: 30%;
    background-color: rgba(62, 156, 239, 0.381);
}
.nav2 img {
    float:left;
    width: 40%;
    height: 100%;
}
.nav2 p {
    color: rgba(7, 7, 7, 0.895) ;
    text-align: justify;
    padding: 0 3% 0 3%;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    width: 60%;
    font-size: 90%;
}
/**This css for test_tai_xiu**/
h1 a {
    text-decoration: none;
}
